<template>
  <h1>Todo App</h1>
  <div class="d-flex justify-content-center container">
      <div class="w-75">
          <form @submit.prevent="selectedTodo ? updateTodo() : addTodo()">
              <div class="mb-3 mt-5">
                <label for="todo">What's your todo?</label>
                <div class="d-flex">
                  <input v-model="todo" type="text" class="form-control" id="todo" placeholder="Add todo">
                  <button v-if="!selectedTodo" class="btn btn-primary ms-3">Add</button>
                  <button v-else class="btn btn-primary ms-3">Edit</button>
                </div>
              </div>
          </form>
          <div v-for="row in todoList" :key="row.id" @click="selectTodo(row)" class="toast show mt-2 w-100">
            <div class="toast-header">
              <strong class="me-auto">{{row.todo}}</strong>
              <button :class="`btn btn-${row.is_done ? 'success' : 'outline-secondary'} btn-sm`" @click.stop="markAsDone(row)">
                Done
              </button>
              <button class="btn btn-danger btn-sm ms-1" @click.stop="removeTodo(row)">
                Remove
              </button>

            </div>
          </div>
      </div>
    </div>
</template>

<script>
import { ref } from "vue";

export default {
  
  setup() {
    let todoList = ref([]);
    let todo = ref(null);

      //Add new Todo from the list
      const addTodo = () => {
      if (validateTodo(todo.value)) {
          let id = todoList.value.length;
          todoList.value.push({
            id: ++id,
            todo: todo.value,
            is_done: false,
        });
        todo.value = null;
    }
  };
      //Validation for todo
      const validateTodo = (new_todo) => {
      let index = todoList.value.findIndex((t) => t.todo === new_todo);
     
      //here is a condition if todo already exists
      if (index !== -1) {
        alert("Todo already exist!");
        return false;
      } else {
        return true;
  }
};

  //Select todo From the list
  let selectedTodo = ref(null);
  const selectTodo = (row) => {
    selectedTodo.value = row;
    todo.value = row.todo;
  };


    // Edit the todo/title from the list
   const updateTodo = () => {
  if (validateTodo(todo.value)) {
      let index = todoList.value.findIndex((t) => t.id === selectedTodo.value.id);
      index !== -1 && (todoList.value[index].todo = todo.value);

      todo.value = selectedTodo.value = null;
  }
};

  // Mark as Done todo From the list
   const markAsDone = (row) => {
    if (confirm(`Are you sure you want to mark ${row.todo} as done?`)) {
      let index = todoList.value.findIndex((t) => t.id === row.id);
      index !== -1 && (todoList.value[index].is_done = true);
  }
};

    // DELETE TODO From the list
   const removeTodo = (row) => {
      if (confirm(`Are you sure you want to delete ${row.todo}?`)) {
        let index = todoList.value.findIndex((t) => t.id === row.id);
         index !== -1 && todoList.value.splice(index, 1);
  }
};
      return { 
        todoList, 
        todo, 
        addTodo, 
        validateTodo, 
        selectedTodo, 
        selectTodo, 
        updateTodo, 
        markAsDone, 
        removeTodo
      }
   }

  }

</script>



<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}


</style>
